<div class="post-single-wrapper axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="axil-post-details">
                    <%- cms_page.description %>
                </div>
            </div>
        </div>
    </div>
</div>